#Slika {
    width: 300px;
    height: 600px;
}
.PodNaslov {
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    color: crimson;
}
#Bodi {
    background-color: rgba(99,36,192,0.2);
}
    #GlavniNaslov {
        font-size: 30px;
        color: crimson;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
    }
    .Bio {
        font-size: 15px;
        color: darkolivegreen;
        font-family: fantasy;

    }
    .Dugme {
        color: darkolivegreen;
        font-family: fantasy;
        font-weight: bold;
        width: 100px;
        height: 50px;
        background-color: bisque;
    }